#box3    {  width:100%;
           height:283%;
           box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
          margin:5% auto 0 auto; 
          background:url(8.jpg);
  background-size:cover;
border-radius:5px;
overflow:hidden;}

#overlay3    {  background:rgba(255,255,255,.75);
               text-align:center;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

#box3:hover #overlay3 {
               opacity:1;}

